body{
    color: black;
    font-family: sans-serif;
}
#card1{
    height: 100%;
    width: 100%;
    text-align: center;
}
/*    #card2{
    height: 100%;
    width: 100%;
    text-align: center;
}
#card3{
    height: 100%;
    width: 100%;
    text-align: center;
}
#card4{
    height: 100%;
    width: 100%;
    text-align: center;
}
#card5{
    height: 100%;
    width: 100%;
    text-align: center;
}
#card6{
    height: 100%;
    width: 100%;
    text-align: center;
}
#card7{
    height: 100%;
    width: 100%;
    text-align: center;
}
#card8{
    height: 100%;
    width: 100%;
    text-align: center;
}
#card9{
    height: 100%;
    width: 100%;
    text-align: center;
}*/